/*! Colors */
// ==========================================================================

/* Namari Landing Page Dynamic Style Index

1. Website Default Styling
2. Navigation
3. Primary and Secondary Colors
4. Banner
5. Typography
6. Buttons
7. Footer


/*------------------------------------------------------------------------------------------*/
/* 1. Website Default Styling */
/*------------------------------------------------------------------------------------------*/


body {
    background:#fff;
}


/* Default Link Color */

a, .la-ball-triangle-path {
    color: @deepblue;
}

a:hover, #header.nav-solid nav a:hover {
    color: @deepblue;
}

/* Default Icon Color */

.icon i {
    color: @deepblue;
}

/* Border Color */

#banner .section-heading:before,
.testimonial.classic footer:before,
#banner .intro:after {
    background: @deepblue;
}

.pricing-block-content:hover {
    border-color: @deepblue;
}


/*------------------------------------------------------------------------------------------*/
/* 2. Navigation */
/*------------------------------------------------------------------------------------------*/


/* Transparent Navigation Color on a Banner */

#header nav a {
    color: @black;
}

#header i {
    color: @deepblue;
}


/* Navigation Colors when the Navigation is sticky and solid */ 

#header.nav-solid,
#header.nav-solid a,
#header.nav-solid i,
#nav-mobile ul li a {
    color: @brown;
}


/* Navigation Active State */

#header.nav-solid .active {
    color: @deepblue;
    border-color: @deepblue;
}    



/*------------------------------------------------------------------------------------------*/
/* 3. Primary and Secondary Colors */
/*------------------------------------------------------------------------------------------*/


/* Primary Background and Text Colors */

.primary-color, .featured .pricing {
    background-color: @deepblue;
}

.primary-color, .primary-color .section-title, .primary-color .section-subtitle, .featured .pricing, .featured .pricing p {
    color:#fff;    
}

.section-heading h2:after {
    background: @deepblue;
    content:"";
    display:block;
    width:30px;
    height:5px;
    margin-top:30px;
}

.text-center .section-heading h2:after {
    margin:30px auto 25px auto;
}

/* Primary Icon Colors */

.primary-color .icon i, .primary-color i {
    color:#fff;
}


/* Secondary Background and Text Colors */

.secondary-color {
    background-color:#f5f5f5;
}


/*------------------------------------------------------------------------------------------*/
/* 4. Banner */
/*------------------------------------------------------------------------------------------*/


/* Banner Background and Text Colors */

#banner {
    background: url("../images/banner-images/banner-image.jpg") no-repeat center top;
    background-size:cover;
}

@media all and (max-width: 768px) {
    #banner {
        background: url("../images/banner-images/banner-image-tablet.jpg") no-repeat center top;
    }
}

@media all and (max-width: 600px) {
    #banner {
        background: none;
    }
}


/*------------------------------------------------------------------------------------------*/
/* 5. Typography */
/*------------------------------------------------------------------------------------------*/


body {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 15px;
    font-weight: 400;
    color: @black;
}

/* Logo, if you are using Fonts as Logo and not image

#logo h1 {
    font-family:;
    font-size:; 
    font-weight:;
    color:;
}

#logo h2 {
    font-family:;
    font-size:; 
    font-weight:;
    color:;
}

*/


/* Banner Typography */

#banner h1 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 62px;
    line-height: 60px;
    font-weight: 800;
    /*text-transform: uppercase;*/
    color: @brown;
}

#banner .intro {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 18px;
    font-weight: 300;
    color: @brown;
    padding: 14px 0;
    margin: 0;
    line-height: 1.6;
}

#banner .intro a {
    font-weight: 400;
    //border-bottom: 1px solid;
}

/* Effect 7: second border slides up */
a.cl-effect-7 {
	position: relative;
	display: inline-block;
	margin: 0;
	outline: none;
	text-decoration: none;
    z-index: 0;
}

a.cl-effect-7:hover,
a.cl-effect-7:focus {
	outline: none;
    color: white;
}

a.cl-effect-7 {
	padding: 0;
	text-shadow: none;
}

a.cl-effect-7::before {
	position: absolute;
	bottom: 5%;
	left: 0;
	width: 100%;
	height: 2px;
	background: @deepblue;
	content: '';
	.transition03;
	transform: scale(1);
    z-index: -1;
}

a.cl-effect-7:hover::before,
a.cl-effect-7:focus::before {
	//transform: scale(1.1);
    height: 95%;
}

@media (max-width: 480px) {
    #banner h1 {
        font-size: 46px;
        line-height: 50px;
    }
}


/* Section Title and Subtitle */

.section-title {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 34px; 
    font-weight: 700;
    color:@brown;
    line-height: 1.2;
}

.section-intro {
    color: @grey;
    font-weight: 700;
}

.section-subtitle {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 15px;
    font-weight: 300;
    color: @grey;
}

/* Testimonial */

.testimonial q {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 17px; 
    font-weight: 300;
}

.testimonial.classic q, .testimonial.classic footer {
    color:#111;
}


/* Standard Headings h1-h6 */

h1 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 40px; 
    font-weight: 300;
    color:@brown;
}

h2 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 34px; 
    font-weight: 300;
    color:@brown;
}

h3 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 30px; 
    font-weight: 700;
    color:@brown;
}

h4 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 18px; 
    font-weight: 400;
    color: @brown;
}

h5 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 16px; 
    font-weight: 400;
    color: @brown;
}

h6 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 14px; 
    font-weight: 400;
    color: @brown;
}


/*------------------------------------------------------------------------------------------*/
/* 6. Buttons */
/*------------------------------------------------------------------------------------------*/

/* ----------Default Buttons---------- */


/* Button Text */

.button,
input[type="submit"]  {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 14px;
    font-weight: 700;
    color: @deepblue;
    background-color: transparent;
}


/* Button Color */

.button, input[type="submit"] {
    border-color: @deepblue;
}


/* Button Hover Color */

.button:hover,
input[type="submit"]:hover,
.button:focus,
input[type="submit"]:focus {
    border-color: @deepblue;
    background: @deepblue;
    color: #fff;
}


/* ----------Banner Buttons---------- */


/* Button Text */

#banner .button {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 16px;
    color: @deepblue;
    text-transform: uppercase;
}


/* Button Color */

#banner .button {
    border-color: @deepblue;
}


/* Button Hover Color */

#banner .button:hover,
#banner .button:focus {
    color: #fff;
    background: @deepblue;
}


/*------------------------------------------------------------------------------------------*/
/* 7. Footer */
/*------------------------------------------------------------------------------------------*/

#landing-footer, #landing-footer p, #landing-footer a {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:12px;
    font-weight: 400;
    color: @grey;
}

/* Footer Icon Color */

#landing-footer i {
    color: @grey;
}

