/*! Mixins */
// ==========================================================================

/*@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,900|Open+Sans);

@font-face {
    font-family: 'black_jackregular';
    src: url('../fonts/blackjack-webfont.eot');
    src: url('../fonts/blackjack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blackjack-webfont.woff') format('woff'),
         url('../fonts/blackjack-webfont.ttf') format('truetype'),
         url('../fonts/blackjack-webfont.svg#black_jackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/


.border-radius1 (@radius: 1px) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
         -o-border-radius: @radius;
            border-radius: @radius;
}

.transition02 (@who: all, @length: 0.2s) {
  -webkit-transition: @who @length;
     -moz-transition: @who @length;
       -o-transition: @who @length;
      -ms-transition: @who @length;
          transition: @who @length;
}

.transition03 (@who: all, @length: 0.3s) {
  -webkit-transition: @who @length;
     -moz-transition: @who @length;
       -o-transition: @who @length;
      -ms-transition: @who @length;
          transition: @who @length;
}

.transition04 (@who: all, @length: 0.4s) {
  -webkit-transition: @who @length;
     -moz-transition: @who @length;
       -o-transition: @who @length;
      -ms-transition: @who @length;
          transition: @who @length;
}

