/*! Mixins */
// ==========================================================================

/*
 *  Gridder - v1.4.2
 *  A jQuery plugin that displays a thumbnail grid expanding preview similar to the effect seen on Google Images.
 *  http://www.oriongunning.com/
 */
.gridder {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 0;
}

.gridder-list,
.gridder-show {
    font-size: 16px;
}

.gridder-list {
    display: inline-block;
    vertical-align: top;
}

.gridder-show {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    background: rgba(206, 185, 146, 0.25);
    margin-top: -26px;
}

.gridder-padding {
    padding: 4em 0 0;
}

.gridder-content {
    display: none;
}

.gridder-navigation {
    background: white;
}

.gridder-close,
.gridder-nav {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    text-decoration: none;
    border-bottom: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
          transition: all 0.4s;
}

.gridder-close {
	right: 20px;
}

.gridder-nav.prev {
	right: 100px;
}

.gridder-nav.next {
	right: 60px;
}

.gridder-close:before,
.gridder-nav:before {

}

.gridder-close {
    background-image: url(../images/ios-close.svg);
}

.gridder-nav.prev {
    background-image: url(../images/ios-arrow-left.svg);
}

.gridder-nav.next {
    background-image: url(../images/ios-arrow-right.svg);
}

.gridder-close:hover {
	-webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
}

.gridder-nav.prev:hover {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
}

.gridder-nav.next:hover {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
}

.gridder-close:hover,
.gridder-nav.prev:hover,
.gridder-nav.next:hover {
    border-bottom: none;
}

.gridder-list {
    width: 32%;
}

.gridder-list:nth-child(n) {
    margin: 0.5%;
}

.gridder-list:nth-of-type(2n) {
    //margin-right: 0;
    //margin-bottom: 0;
}

.hasSelectedItem .gridder-list.selectedItem figure::after {
	top: auto;
    bottom: 0;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #F3EDE4;
	border-width: 20px;
	left: 50%;
	margin: -40px 0 0 -20px;
}


/* Gridder expanded https://tympanus.net/codrops/2013/06/18/caption-hover-effects/ */
.grid li {
	display: inline-block;
	//width: 440px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.grid h2 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.2;
    min-height: 108px;
}

.grid figure {
	margin: 0;
	position: relative;
    box-shadow: 0 10px 20px rgba(35,32,39,0.5)
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #fff;
	color: @black;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: @black;
    font-size: 19px;
    font-weight: 700;
}

.grid figcaption span {
    display: block;
    font-size: 13px;
    line-height: 1.5;
    margin-top: 5px;
}

.grid figcaption span:before {
	//content: 'by ';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 0;
	display: inline-block;
	background: @deepblue;
	color: #fff;
}

/* Caption Style 3 */ 
.cs-style-3 figure {
	overflow: hidden;
    box-shadow: none;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-20%);
	-moz-transform: translateY(-20%);
	-ms-transform: translateY(-20%);
	transform: translateY(-20%);
}

.cs-style-3 figcaption {
	height: 50%;
	width: 94%;
	top: auto;
	bottom: 2%;
    left: 3%;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
    border: 7px solid @deepblue;
    text-align: center;
    box-shadow: 0 1px 3px rgba(35,32,39,0.5);
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	margin-top: 10px;
}

@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}

@media (max-width: 1024px) {
    .grid h2 {
        font-size: 24px;
        min-height: 84px;
    }
}

@media (max-width: 768px) {
    .gridder-list {
        width: 49%;
    }
}

@media (max-width: 768px) {
    .grid h2 {
        font-size: 20px;
        min-height: 70px;
    }
}

@media (max-width: 480px) {
    .grid h2 {
        font-size: 24px;
        min-height: auto;
    }
}


/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.3.3 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2015, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
    .featherlight {
        display: none;

        /* dimensions: spanning the background from edge to edge */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2147483647; /* z-index needs to be >= elements on the site. */

        /* position: centering content */
        text-align: center;

        /* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
        white-space: nowrap;

        /* styling */
        cursor: pointer;
        background: #333;
        /* IE8 "hack" for nested featherlights */
        background: rgba(0, 0, 0, 0);
    }

    /* support for nested featherlights. Does not work in IE8 (use JS to fix) */
    .featherlight:last-of-type {
        background: rgba(0, 0, 0, 0.8);
    }

    .featherlight:before {
        /* position: trick to center content vertically */
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }

    .featherlight .featherlight-content {

        /* position: centering vertical and horizontal */
        text-align: left;
        vertical-align: middle;
        display: inline-block;

        /* dimensions: cut off images */
        overflow: auto;
        padding: 25px 0;
        border-bottom: 25px solid transparent;

        /* dimensions: handling small or empty content */
        min-width: 30%;

        /* dimensions: handling large content */
        margin-left: 5%;
        margin-right: 5%;
        max-height: 95%;

        /* styling */
        cursor: auto;

        /* reset white-space wrapping */
        white-space: normal;
    }

    /* contains the content */
    .featherlight .featherlight-inner {
        /* make sure its visible */
        display: block;
    }

    .featherlight .featherlight-close-icon {
        /* position: centering vertical and horizontal */
        position: absolute;
        z-index: 9999;
        top: 25px;
        right: 25px;

        /* dimensions: 25px x 25px */
        line-height: 25px;
        width: 25px;

        /* styling */
        cursor: pointer;
        text-align: center;
        color: #fff;
        font-family: "fontawesome";
        font-size: 22px;
        opacity: 0.5;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    .featherlight .featherlight-close-icon:hover {
        opacity: 1;
    }

    .featherlight .featherlight-image {
        /* styling */
        max-height: 100%;
        max-width:100%;
    }

    .featherlight-iframe .featherlight-content {
        /* removed the border for image croping since iframe is edge to edge */
        border-bottom: 0;
        padding: 0;
    }

    .featherlight iframe {
        /* styling */
        border: none;
    }
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
    .featherlight .featherlight-content {
        /* dimensions: maximize lightbox with for small screens */
        margin-left: 10px;
        margin-right: 10px;
        max-height: 98%;

        padding: 10px 10px 0;
        border-bottom: 10px solid transparent;
    }

}

/* Gallery Styling */
@media all {
    .featherlight-next,
    .featherlight-previous {
        font-family: "fontawesome";
        font-size: 22px;
        display: block;
        position: absolute;
        top: 25px;
        right: 0;
        bottom: 0;
        left: 80%;
        cursor: pointer;
        /* preventing text selection */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        /* IE9 hack, otherwise navigation doesn't appear */
        background: rgba(0, 0, 0, 0);
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    .featherlight-previous {
        left: 0;
        right: 80%;
    }

    .featherlight-next span,
    .featherlight-previous span {
        display: inline-block;
        opacity: 0.3;
        position: absolute;
        top: 50%;
        width: 100%;
        font-size: 80px;
        line-height: 80px;

        /* center vertically */
        margin-top: -40px;
        color: #fff;
        font-style: normal;
        font-weight: normal;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    .featherlight-next span {
        text-align: right;
        left: auto;
        right: 7%;
    }

    .featherlight-previous span {
        text-align: left;
        left: 7%;
    }

    .featherlight-next:hover span,
    .featherlight-previous:hover span {
        display: inline-block;
        opacity: 1;
    }

    /* Hide navigation while loading */
    .featherlight-loading .featherlight-previous, .featherlight-loading .featherlight-next {
        display: none;
    }
}

/* Always display arrows on touch devices */
@media only screen and (max-device-width: 1024px) {
    .featherlight-next:hover,
    .featherlight-previous:hover {
        background: none;
    }

    .featherlight-next span,
    .featherlight-previous span {
        display: block;
    }
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
    .featherlight-next,
    .featherlight-previous {
        top: 10px;
        right: 10px;
        left: 85%;
    }

    .featherlight-previous {
        left: 10px;
        right: 85%;
    }

    .featherlight-next span,
    .featherlight-previous span {
        margin-top: -30px;
        font-size: 40px;
    }
}


/* ===========================================================
 * jquery-subscribe-better.js v1
 * https://github.com/peachananr/subscribe-better
 * ========================================================== */
/*=================================================
Class Definitions
=================================================*/

.subscribe-me {display: none;} // hide popup for prduction only

.sb {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -180px;
    margin-top: -200px;
    width: 360px;
    height: 400px;
    background: white;
    padding: 25px;
    border: 6px solid @brown;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    z-index: 10009;
    opacity: 0;
}

.sb h2 {
    margin-top: 0;
}

.sb p {
    font-size: 16px;
}

.sb form input[type='text'],
.sb form input[type='password'],
.sb form input[type='email'],
.sb form textarea {
    width: 100%;
  /*margin: 0;
  border: none;
  background: #f7f7f7;
  padding: 18px 10px;
  font-size: 16px;
  width: 79%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;*/
}

.sb form input[type='submit'] {
    width: 100%;
  /*padding: 18px 10px;
  background: none;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  background: black;
  color: white;
  width: 20%;
  margin: 0;*/
}

.sb .sb-close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    color: rgba(24, 81, 111, 1);
}

.sb.sb-withoverlay {
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -250px;
}


.sb-open.sb-open-with-overlay {
    overflow: hidden;
}

.sb-open .sb-overlay {
    opacity: 1;
}

.sb-open .sb {
    opacity: 1;
}

.sb-overlay {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.65);
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10001;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: auto;
}

.sb-close-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

[class^="sb-animation-"], [class*=" sb-animation-"] {
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
}

.sb-animation-flyInRight {
  -webkit-animation-name: flyInRight;
	-moz-animation-name: flyInRight;
	-o-animation-name: flyInRight;
	animation-name: flyInRight;
}

.sb-animation-flyOutRight {
  -webkit-animation-name: flyOutRight;
	-moz-animation-name: flyOutRight;
	-o-animation-name: flyOutRight;
	animation-name: flyOutRight;
}

.sb-animation-flyInLeft {
  -webkit-animation-name: flyInLeft;
	-moz-animation-name: flyInLeft;
	-o-animation-name: flyInLeft;
	animation-name: flyInLeft;
}

.sb-animation-flyOutLeft {
  -webkit-animation-name: flyOutLeft;
	-moz-animation-name: flyOutLeft;
	-o-animation-name: flyOutLeft;
	animation-name: flyOutLeft;
}

.sb-animation-flyInUp {
  -webkit-animation-name: flyInUp;
	-moz-animation-name: flyInUp;
	-o-animation-name: flyInUp;
	animation-name: flyInUp;
}

.sb-animation-flyOutUp {
  -webkit-animation-name: flyOutUp;
	-moz-animation-name: flyOutUp;
	-o-animation-name: flyOutUp;
	animation-name: flyOutUp;
}

.sb-animation-flyInDown {
  -webkit-animation-name: flyInDown;
	-moz-animation-name: flyInDown;
	-o-animation-name: flyInDown;
	animation-name: flyInDown;
}

.sb-animation-flyOutDown {
  -webkit-animation-name: flyOutDown;
	-moz-animation-name: flyOutDown;
	-o-animation-name: flyOutDown;
	animation-name: flyOutDown;
}
/*=================================================
Animation Library
=================================================*/

@-webkit-keyframes flyInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(3000px);
	}

	100% {
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes flyInRight {
	0% {
		opacity: 0;
		-moz-transform: translateX(3000px);
	}

	100% {
		-moz-transform: translateX(0);
	}
}

@-o-keyframes flyInRight {
	0% {
		opacity: 0;
		-o-transform: translateX(3000px);
	}

	100% {
		-o-transform: translateX(0);
	}
}

@keyframes flyInRight {
	0% {
		opacity: 0;
		transform: translateX(3000px);
	}

	100% {
		transform: translateX(0);
	}
}

@-webkit-keyframes flyOutRight {
	0% {
		-webkit-transform: translateX(0);
	}

	100% {
	  opacity: 0;
		-webkit-transform: translateX(3000px);
	}
}

@-moz-keyframes flyOutRight {
	0% {
		-moz-transform: translateX(0);
	}

	100% {
	  opacity: 0;
		-moz-transform: translateX(3000px);
	}
}

@-o-keyframes flyOutRight {
	0% {
		-o-transform: translateX(0);
	}

	100% {
	  opacity: 0;
		-o-transform: translateX(3000px);
	}
}

@keyframes flyOutRight {
	0% {
		transform: translateX(0);
	}

	100% {
	  opacity: 0;
		transform: translateX(3000px);
	}
}

@-webkit-keyframes flyInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-3000px);
	}

	100% {
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes flyInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-3000px);
	}

	100% {
		-moz-transform: translateX(0);
	}
}

@-o-keyframes flyInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-3000px);
	}

	100% {
		-o-transform: translateX(0);
	}
}

@keyframes flyInLeft {
	0% {
		opacity: 0;
		transform: translateX(-3000px);
	}

	100% {
		transform: translateX(0);
	}
}
@-webkit-keyframes flyOutLeft {
	0% {
		-webkit-transform: translateX(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(-3000px);
	}
}

@-moz-keyframes flyOutLeft {
	0% {
		-moz-transform: translateX(0);
	}

	100% {
		opacity: 0;
		-moz-transform: translateX(-3000px);
	}
}

@-o-keyframes flyOutLeft {
	0% {
		-o-transform: translateX(0);
	}

	100% {
		opacity: 0;
		-o-transform: translateX(-3000px);
	}
}

@keyframes flyOutLeft {
	0% {
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(-3000px);
	}
}

@-webkit-keyframes flyInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}

	100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes flyInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}

	100% {
		-moz-transform: translateY(0);
	}
}

@-o-keyframes flyInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}

	100% {
		-o-transform: translateY(0);
	}
}

@keyframes flyInUp {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}

	100% {
		transform: translateY(0);
	}
}

@-webkit-keyframes flyOutUp {
	0% {
		-webkit-transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}
}

@-moz-keyframes flyOutUp {
	0% {
		-moz-transform: translateY(0);
	}

	100% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}
}

@-o-keyframes flyOutUp {
	0% {
		-o-transform: translateY(0);
	}

	100% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}
}

@keyframes flyOutUp {
	0% {
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-2000px);
	}
}


@-webkit-keyframes flyInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
	}

	100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes flyInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(2000px);
	}

	100% {
		-moz-transform: translateY(0);
	}
}

@-o-keyframes flyInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(2000px);
	}

	100% {
		-o-transform: translateY(0);
	}
}

@keyframes flyInDown {
	0% {
		opacity: 0;
		transform: translateY(2000px);
	}

	100% {
		transform: translateY(0);
	}
}

@-webkit-keyframes flyOutDown {
	0% {
		-webkit-transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
	}
}

@-moz-keyframes flyOutDown {
	0% {
		-moz-transform: translateY(0);
	}

	100% {
		opacity: 0;
		-moz-transform: translateY(2000px);
	}
}

@-o-keyframes flyOutDown {
	0% {
		-o-transform: translateY(0);
	}

	100% {
		opacity: 0;
		-o-transform: translateY(2000px);
	}
}

@keyframes flyOutDown {
	0% {
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(2000px);
	}
}



/**
 *
 * JQUERY EU COOKIE LAW POPUPS
 * version 1.1.1
 *
 * Code on Github:
 * https://github.com/wimagguc/jquery-eu-cookie-law-popup
 *
 * To see a live demo, go to:
 * http://www.wimagguc.com/2018/05/gdpr-compliance-with-the-jquery-eu-cookie-law-plugin/
 *
 * by Richard Dancsi
 * http://www.wimagguc.com/
 *
 */
.clearfix {
	clear: both;
}

.eupopup-container {
	background-color: rgba(100, 86, 73, 0.95);
	color: #dedede;
	padding: 5px 20px;
	font-size: 11px;
	line-height: 1.3em;
	text-align: center;
	display: none;
	z-index: 998;
}

.eupopup-container-top,
.eupopup-container-fixedtop {
	position: absolute;
	top: 0; left: 0; right: 0;
}

.eupopup-container-fixedtop {
	position: fixed;
}

.eupopup-container-bottom {
	position: fixed;
	bottom: 0; left: 0; right: 0;
}

.eupopup-container-bottomleft {
	position: fixed;
	bottom: 18px;
	left: 18px;
	width: 230px;
}

.eupopup-container-bottomright {
	position: fixed;
	bottom: 18px;
	right: 18px;
	width: 230px;
}

.eupopup-closebutton {
    position: absolute;
	top: 0;
    right: 0;
	padding: 3px 5px;
    color: #fff;
}

.eupopup-closebutton svg {
    width: 14px;
    fill: #fff;
    pointer-events: none;
    vertical-align: top;
}

.eupopup-closebutton:hover,
.eupopup-closebutton:active {
	color: #fff;
	text-decoration: none;
}

.eupopup-closebutton:hover svg,
.eupopup-closebutton:active svg {
    fill: #dedede;
}

.eupopup-head {
	font-weight: 700;
	padding: 7px;
	color: #fff;
}

.eupopup-body {
	color: #dedede;
    font-weight: 300;
}

.eupopup-buttons {
	padding: 14px 0 5px 0;
}

.eupopup-button_1 {
	color: #353434;
    background-color: #fcfbf7;
}

.eupopup-button_2 {
	color: #fcfbf7;
    background-color: transparent;
}

.eupopup-button {
	margin: 0 10px;
    font-weight: 700;
	font-size: 12px;
    line-height: 14px;
    padding: 3px 10px;
    text-decoration: none;
}

.eupopup-button_1:hover,
.eupopup-button_1:focus {
	text-decoration: none;
	color: #fff;
    background: rgba(100, 86, 73, 1);
}

.eupopup-button_2:hover,
.eupopup-button_2:focus {
    color: #fff;
}

body .eupopup-color-inverse {
	color: #000;
	background-color: rgba(255, 255, 255, 0.9);
}

body .eupopup-color-inverse .eupopup-head {
	color: #000;
}

body .eupopup-style-compact {
	text-align: left;
	padding: 8px 30px 7px 20px;
	line-height: 15px;
}

body .eupopup-style-compact .eupopup-head,
body .eupopup-style-compact .eupopup-body,
body .eupopup-style-compact .eupopup-buttons {
	display: inline;
	padding: 0;
	margin: 0;
}

body .eupopup-style-compact .eupopup-button {
	margin: 0 5px;
}

.eupopup-container-hide {
    display: none !important;
}

