/*! Variables */
// ==========================================================================

// Colors
//============
/* Coolors Exported Palette - https://coolors.co/348bbd-13435c-ceb992-645649-0d0a0b */
@seablue: rgba(81, 149, 188, 1); // #5195BC;
@deepblue: rgba(24, 81, 111, 1); // #18516F;
@beige: rgba(206, 185, 146, 1); // #CEB992;
@brown: rgba(100, 86, 73, 1); // #645649;
@black: rgba(13, 10, 11, 1); // #0D0A0B;

@grey: #93A3B1;
@red: #EF3E36;


// https://coolors.co/d4e6f4-2c82b3-06202d-ceb992-645649
/*@skyblue: rgba(212, 230, 244, 1); // #D4E6F4;
@seablue: rgba(44, 130, 179, 1); // #2C82B3;
@deepblue: rgba(6, 32, 45, 1); // #06202D;
@beige: rgba(206, 185, 146, 1); // #CEB992;
@brown: rgba(100, 86, 73, 1); // #645649;

@black: #191716;*/


// https://coolors.co/d4e6f4-446488-1e2531-ceb992-63584e
/*
@skyblue: rgba(212, 230, 244, 1); // #D4E6F4;
@seablue: rgba(68, 100, 136, 1); // #446488;
@deepblue: rgba(30, 37, 49, 1); // #1E2531;
@beige: rgba(206, 185, 146, 1); // #CEB992;
@brown: rgba(99, 88, 78, 1); // #63584E;
*/


/* Social palette */
@facebook: #3b5998; //rgba(59, 89, 152, 1); 
@flickr: #ff0084; // rgba(255, 0, 132, 1);
@twitter: #55acee; //rgba(85, 172, 238, 1);
@googleplus: #dd4b39; //rgba(211, 75, 57, 1);
@instagram: #517fa4; //rgba(81, 127, 164, 1);
@linkedin: #0075b5; //rgba(0, 119, 181, 1);
@periscope: #40a4c4; //rgba(64, 164, 196, 1);
@pinterest: #bd081c; //rgba(189, 8, 28, 1);
@skype: #00aff0; //rgba(0, 175, 240, 1);
@vimeo: #1ab7ea; //rgba(26, 183, 234, 1);
@vine: #00bf8f; //rgba(0, 191, 143, 1);
@whatsapp: #25D366; //rgba(37, 211, 102, 1);
@wordpress: #21759b; //rgba(33, 117, 155);
@youtube: #cd201f; //rgba(205, 32, 31, 1);

