/*! Woocommerce */
// ==========================================================================
.summary h2 {
    text-align: left;
    min-height: auto;
    padding-top: 0;
}

.summary h2:after {
    background: @deepblue;
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    margin-top: 25px;
}

button.add-to-cart {
    color: #fff;
    background-color: @deepblue;
}

button.add-to-cart:hover,
button.add-to-cart:focus {
    color: @deepblue;
    background-color: transparent;
}

.price {
    font-size: 1.5em;
    font-weight: 700;
}

.quantity input {
    max-width: 4em;
}

#header .social-icons a.bag {
    background-color: @deepblue;
}

#header.nav-solid .social-icons a.bag {
    background-color: @brown;
}

#header .social-icons a.bag i {
    color: white;
}

.share-icons p {
    font-size: 80%;
}

.share-icons .icons {
    display: inline-block;
    list-style: none;
}

.share-icons .icons li {
    padding: 0 5px 0 0;
}

.share-icons .icons a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: @deepblue;
    color: white;
}

.share-icons .icons a:hover {
    opacity: 0.7;
}

.share-icons .icons span {
    display: none;
}

@media screen and (max-width: 31.5em) {
    .share-icons .icons li {
        width: auto;
        min-width: auto;
    }
}

.product-content {
    margin-top: 3em;
    font-size: 90%;
}

.product-content h3 {
    font-size: 24px;
}

