/*********************************************
  * Filename: style.css
  * Website: http://vinsdelmar.com
  * Author: Sokvist
  * Author URI: https://sokvist.com
  * Date: 28/10/2013
  * Version: 1.0
*********************************************/


@import "variables.less";
@import "mixins.less";


/*------------------------------------------------------------------------------------------*/
/* Defaults & Reset of specific styles across browsers */
/*------------------------------------------------------------------------------------------*/

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, blockquote, th, td {
    margin: 0;
    padding: 0;
    direction: ltr;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

p {
    line-height: 25px;
}

.row img {
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
    line-height: inherit;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

iframe {
    border: 0 !important;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

figure {
    margin: 0;
}

/* Page Border */

.page-border {
    position: fixed;
    z-index: 999999;
    pointer-events: none;
}

.page-border .bottom-border,
.page-border .left-border,
.page-border .right-border,
.page-border .top-border {
    background: rgba(212, 230, 244, 1);;
    position: fixed;
    z-index: 9999;
}

.page-border > .top-border,
.page-border > .right-border,
.page-border > .bottom-border,
.page-border > .left-border {
    padding: 7px;
    background: #CEB992;
}

.page-border .bottom-border,
.page-border .top-border {
    width: 100%;
    padding: 7px;
    left: 0;
}

.page-border .left-border,
.page-border .right-border {
    padding: 7px;
    height: 100%;
    top: 0;
}

.page-border .top-border {
    top: 0;
    visibility: visible;
    animation-name: fadeInDown;
}

.page-border .right-border {
    right: 0;
    visibility: visible;
    animation-name: fadeInRight;
}

.page-border .bottom-border {
    bottom: 0;
    visibility: visible;
    animation-name: fadeInUp;
}

.page-border .left-border {
    left: 0;
    visibility: visible;
    animation-name: fadeInLeft;
}

#wrapper {
    margin:0 15px;
    padding: 14px 0;
    position: relative;
}


/* --------- Input Elements ---------- */

input,
textarea {
    border: 1px solid @deepblue;
    padding: 10px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    border-radius: 0;
}

input {
    height: 40px;
    margin: 3px 0;
    outline: none;
    line-height: normal;
    font-size: 14px;
}

input:hover,
input:active,
input:focus {
    background-color: rgba(206, 185, 146, 0.3);
}

input[type="submit"] {
    cursor: pointer;
    border-style: solid;
    border-width: 3px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}

select {
    border: 1px solid @deepblue;
    height: 40px;
    padding: 5px;
}

input:focus,
textarea:focus {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

*:focus {
    outline: none;
}

/* Mailchimp form */
#mce-error-response,
#mce-success-response {
    display: none;
}

#real-people {
    position: absolute;
    left: -5000px;
}

/*------------------------------------------------------------------------------------------*/
/* Layout Elements */
/*------------------------------------------------------------------------------------------*/

section {
    clear: both;
    overflow: hidden;
}

/* Rows and Columns */

.row {
    max-width: 1245px;
    margin: 0 auto;
    padding: 75px 0;
    position: relative;
}

.row.row-first {
    padding-bottom: 0;
}

.row.row-second {
    padding-top: 0;
}

.row.blue {
    /*background: rgba(30, 37, 49, 1);
    background-image: linear-gradient(to top, #1E2531 0%, #5381B3 100%);*/
    margin-bottom: 1.5em;
    padding: 110px 0;
    background-image: url(../images/banner-footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.no-padding-bottom .row, .no-padding-bottom div, .no-padding-bottom.row {
    padding-bottom: 0;
}

.no-padding-top.row, .no-padding-top div {
    padding-top: 0;
}

.big-padding-top {
    padding-top: 75px !important;
}

.big-padding-bottom {
    padding-bottom: 85px !important;
}

@media all and (max-width: 600px) {
    .row.blue {
        display: none;
    }
}

.row-flex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

/* Targets all elements */

[class*='col-'] {
    float: left;
    padding: 20px;
}

#clients .s-col-2-3 [class*='col-'] {
    padding: 0;
}

/* Clearfix */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Main Widths */

.s-col-1 {
    width: 100%;
}

.s-col-2 {
    width: 50%;
}

.s-col-3 {
    width: 33.33%;
}

.s-col-4 {
    width: 25%;
}

.s-col-5 {
    width: 20%;
}

.s-col-6 {
    width: 16.6666666667%;
}

.s-col-7 {
    width: 14.2857142857%;
}

.s-col-8 {
    width: 12.5%;
}

.s-col-9 {
    width: 11.1111111111%;
}

.s-col-10 {
    width: 10%;
}

.s-col-11 {
    width: 9.09090909091%;
}

.s-col-12 {
    width: 8.33%;
}

.s-col-2-3 {
    width: 66.66%;
}

.s-col-3-4 {
    width: 75%;
}

.s-col-9-10 {
    width: 90%;
}

/* Golden Ratio */
.s-col-61 {
    width: 61.8%;
}

.s-col-38 {
    width: 38.2%;
}

/* --------- Header --------- */

#header {
    height: 71px !important;
    overflow: visible;
    z-index: 9999;
    width: 100%;
    position: absolute !important;
}

#header .row {
    padding: 0;
}

#header aside {
    text-align: right;
}

#header ul {
    text-align: center;
}

#header li {
    display: inline-block;
    list-style: none;
    margin: 0;
}

/* --------- Logo ---------- */

#logo {
    float: left;
    height: 71px;
    line-height: 66px;
    margin-right: 15px;
}

/*#logo h1, #logo h2 {
    display: inline-block;
}

#banner #logo h1 {
    font-size: 28px;
    margin-right: 10px;
    font-weight: 800;
    padding: 0;
}

#logo h2 {
    font-size: 18px;
    padding: 0;
}

#logo img {
    max-height: 40px;
    max-width: 170px;
    vertical-align: middle;
    margin-right: 15px;
}*/

#logo svg {
    height: 50px;
    vertical-align: middle;
    margin-right: 15px;
}

.nav-solid #logo svg {
    height: 34px;
}

.nav-solid #logo svg g {
    fill: #63584E;
}

#navigation-logo {
    display: none;
}

.nav-solid #logo #banner-logo {
    display: none;
}

.nav-solid #logo #navigation-logo {
    display: inline-block;
}

/* --------- Buttons ---------- */

.call-to-action {
    padding: 35px 0 35px 0;
}

/*Style*/

.button {
    font-size: 16px;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 11px 16px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    display: inline-block;
    border-width: 3px;
    border-style: solid;
}

/* Play Button */

#video-section {
    position:relative;
}

.play-video {
    height:110px;
    position:absolute;
    top:50%;
    margin-top:-110px;
    width:100%;
}

.play-icon {
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    margin: 45px auto;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
}

.play-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.play-icon:before {
    font-family: 'fontawesome';
    content: '\f144';
    speak: none;
    font-size: 74px;
    line-height: 110px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
    color:#fff;
}

.play-video .play-icon {
    background: rgba(255, 255, 255, 0.5);
    -webkit-transition: -webkit-transform ease-out 0.3s, background 0.4s;
    -moz-transition: -moz-transform ease-out 0.3s, background 0.4s;
    transition: transform ease-out 0.3s, background 0.4s;
}

.play-video .play-icon:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.play-video .play-icon:hover {
    background: rgba(255, 255, 255, 0.05);
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    color: #fff;
}


/* --------- Navigation ---------- */

#header {
    font-size: 13px;
}

#header aside {
    float: right;
}

#header nav ul {
    /*text-transform: uppercase;*/

}

#header nav a {
    height: 71px;
    line-height: 71px;
    display: block;
    padding: 0 10px;
    font-size: 1.1em;
}

#header nav a:hover {
    opacity: 0.6;
}

/*Navigation Solid*/

#header.nav-solid [class*='col-'] {
    padding: 0 20px;
}

#header.nav-solid {
    background: #fff;
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.2);
    position: fixed !important;
    left:0;
}

#header.nav-solid nav a {
    border-bottom: 3px solid;
    border-color: #fff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#header.nav-solid nav a:hover {
    opacity: 1;
}

/* Social Elements when Solid*/

#header.nav-solid .social-icons a {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

#header.nav-solid .social-icons a:hover {
    opacity: 0.6;
    //color: @black;
}

/* Responsive Nav Styling */

#nav-trigger {
    display: none;
    text-align: right;
}

#nav-trigger span {
    display: inline-block;
    width: 38px;
    height: 71px;
    color: @brown;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#nav-trigger span:after {
    font-family: "fontAwesome";
    display: inline-block;
    width: 38px;
    height: 71px;
    line-height: 75px;
    text-align: center;
    content: "\f0c9";
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#nav-trigger span.open:after {
    content: "\f00d";
}

#nav-trigger span:hover,
.nav-solid #nav-trigger span.open:hover,
.nav-solid #nav-trigger span:hover {
    opacity: 0.6;
}

#nav-trigger span.open,
#nav-trigger span.open:hover {
    color: @brown;
}

.nav-solid #nav-trigger span.open:hover {
    color: @grey;
}

.nav-solid #nav-trigger span {
    color: @grey;
    opacity: 1;
}

nav#nav-mobile {
    position: relative;
    display: none;
}

nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: -30px;
    margin-right: -30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
}

nav#nav-mobile ul:after {
    display: none;
}

nav#nav-mobile li {
    margin: 0 20px;
    float: none;
    text-align: left;
    border-bottom: 1px solid @beige;
}

nav#nav-mobile li:last-child {
    border-bottom: none;
}

.nav-solid nav#nav-mobile li {
    border-top: 1px solid @beige;
    border-bottom: none;
}

nav#nav-mobile a {
    display: block;
    padding: 12px 0;
    color: @black;
    width: 100%;
    height: auto;
    line-height: normal;
    display: block;
    border-bottom: none !important;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

nav#nav-mobile a:hover {
    background: #fafafa;
    opacity: 1;
}

/* --------- Social Elements ---------- */

#header .col-4 {
    text-align: right;
}

.social-icons {
    display: inline-block;
    list-style: none;
}

.social-icons a {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.social-icons a:hover {
    opacity: 0.7;
}

.social-icons span {
    display: none;
}

#header .social-icons {
    margin-top: 20px;
}

/* --------- Images ---------- */

/*Alignment*/

img {
    vertical-align: top;
}

.image-center {
    display: block;
    margin: 0 auto;
}

a img {
    border: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-backface-visibility: hidden;
}

a img:hover {
    opacity: 0.7;
}

@media all and (max-width: 600px) {
    img.tasting {
        display: none;
    }
}

/*------------------------------------------------------------------------------------------*/
/* Fonts */
/*------------------------------------------------------------------------------------------*/

h1 {
    padding: 20px 0;
}

h2 {
    padding: 14px 0;
}

h3 {
    padding: 10px 0;
}

h4 {
    padding: 7px 0;
}

h5 {
    padding: 7px 0;
}

h6 {
    padding: 7px 0;
}

/* Text Alignment */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Section Headings */

.section-heading {
    padding: 0 0 15px 0;
}

.row-flex .section-heading {
    padding: 0;
}

.section-subtitle {
    font-size: 15px;
    padding-top: 0;
}

.section-heading h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: @grey;
    letter-spacing: 2px;
    padding-bottom: 0;
}

.section-list {
    list-style: none;
    line-height: 1.6;
}

#estudio {
    margin-top: 6em;
}

#estudio .section-heading.text-right {
    padding: 15px;
}

#estudio .section-list {
    list-style: disc;
    padding-left: 1.35em;
}

/*------------------------------------------------------------------------------------------*/
/* 4. Banner */
/*------------------------------------------------------------------------------------------*/

#banner {
    background-size: cover;
}

#banner-content.row {
    padding-top: 15vh;
    padding-bottom: 150px;
}

#banner h1 {
    padding-top: 5%;
}

#banner .section-heading:before,
#banner .intro:after {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    margin-top: 30px;
}



/*------------------------------------------------------------------------------------------*/
/* Content Elements */
/*------------------------------------------------------------------------------------------*/

/*Font Icon sizes*/

.fa-1x {
    font-size: 15px !important;
}

/*Icon Block*/

.icon-block {
    position: relative;
}

.icon-block h3 {
    font-size: 22px;
    font-weight: 700;
    padding-top: 0;
}

.icon-block .icon {
    position: absolute;
    height: 2em;
}

.icon-block .icon i:before {
    content: "";
    position: absolute;
    width: 2em;
    height: 2em;
    left: 0;
    top: 0;
}

.icon-block:nth-child(1) .icon i:before {
    background-image: url(../images/wine-icons-blanc.svg);
}

.icon-block:nth-child(2) .icon i:before {
    background-image: url(../images/wine-icons-rosat.svg);
}

.icon-block:nth-child(3) .icon i:before {
    background-image: url(../images/wine-icons-negre.svg);
}

.icon-block:nth-child(4) .icon i:before {
    background-image: url(../images/wine-icons-cava.svg);
}

.icon-block:nth-child(5) .icon i:before {
    background-image: url(../images/wine-icons-champ.svg);
}

.icon-block:nth-child(6) .icon i:before {
    background-image: url(../images/wine-icons-ums.svg);
}

.icon-block p {
    margin-top: 0;
    //font-size: 16px;
}

/* Icon Left*/

.icon-left .icon {
    left: 15;
}

.icon-left .icon-block-description {
    padding-left: 53px;
}

/* Icon Right */

.icon-right .icon {
    right: 15;
}

.icon-right .icon-block-description {
    padding-right: 53px;
}

/* Icon Above */

.icon-top {
    display: block;
}

.icon-top .icon {
    position: relative;
    display: block;
}

.icon-top .icon-block-description {
    padding-top: 25px;
}

@media (max-width: 1024px) and (min-width: 480px) {
    
    .block-height {
        min-height: 300px;
    }

}

@media (max-width: 480px) {
    
    .block-height {
        //min-height: auto;
    }

}
    
/* --------- Parallax Elements ---------- */

.banner-parallax-1, .banner-parallax-2, .banner-parallax-3 {
    min-height: 350px;
}

/* --------- Divider ---------- */

.divider {
    position: relative;
    width: 40%;
    height: 20px;
    line-height: 20px;
    margin: 10px auto 5px auto;
    clear: both;
    text-align: center;
}

.divider-inner {
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    margin-top: -1px;
    border-top: 1px solid;
    border-color: #e1e1e1;
}

.divider i {
    background: #fff;
    position: relative;
    top: -11px;
    padding: 0 5px 0 5px;
    color: #e1e1e1;
}

/*------------------------------------------------------------------------------------------*/
/* Landing Page Sections */
/*------------------------------------------------------------------------------------------*/

/* --------- Introduction ---------- */

.introduction img.featured {
    padding: 55px 0 0 0;
}

/* --------- Features ---------- */

.features.row {
    padding-left: 5%;
    padding-right: 5%;
}

.features div:nth-child(4) {
    clear: both;
}

/* --------- Testimonials ---------- */

.testimonial {
    padding: 15px;
}

blockquote {
    position: relative;
}

.testimonial img {
    max-height: 120px;
    border-radius: 250em;
}

.testimonial footer {
    padding-top: 12px;
}

/* Style Classic - Avatar above Testimonial */

.testimonial.classic img {
    display: inline-block;
    margin-bottom: 25px;
}

.testimonial.classic q {
    display: block;
}

.testimonial.classic footer:before {
    display: block;
    content: "";
    width: 30px;
    height: 4px;
    margin: 10px auto 15px auto;
}

/* Style Big */

.testimonial.bigtest,
.toptitle {
    padding-top: 0;
}

.testimonial.bigtest q {
    font-size: 22px;
}

/* --------- Contact --------- */
.contact h4 {
    margin-bottom: 1em;
}
.google-img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.google-img:hover,
.google-img:focus {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

/* --------- Gallery ---------- */

.gallery {
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-align: center;
}

.gallery img {
    margin: 0;
    width: 100%;
}

@media screen and (max-width: 480px) {
    .gallery {
        flex-direction: column;
    }
}

/* old gallery with lightbox
#gallery img {
    max-height: 300px;
}

#gallery [class*='col-'] {
    padding: 0;
}

#gallery a {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

#gallery a:hover img {
    opacity: 0.5;
    -moz-backface-visibility: hidden;
}

#gallery a:before {
    font-size: 2.2em;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    content: "+";
    width: 70px;
    height: 70px;
    border-radius: 100em;
    display: block;
    position: absolute;
    top: 55%;
    left: 50%;
    line-height: 72px;
    margin: -35px 0 0 -35px;
    opacity: 0;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    vertical-align: middle;
}

#gallery a:hover:before {
    opacity: 1;
    top: 50%;
    left: 50%;
}*/


/* --------- Video ---------- */

#video-box {
    color: #fff;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.video_container,
.easyContainer {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    margin: 0;
    padding-top: 0; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.video_container iframe,
.video_container object,
.video_container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.slvj-lightbox iframe,
.slvj-lightbox object,
.slvj-lightbox embed {
    width: 100% !important;
    height: 529px !important;
}

.videojs-background-wrap {
    /*overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -998;*/
}

#slvj-window {
    width: 100%;
    min-height: 100%;
    z-index: 999930;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
}

#slvj-window,
#slvj-window * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#slvj-background-close {
    width: 100%;
    min-height: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

#slvj-back-lightbox {
    max-width: 940px;
    max-height: 529px;
    z-index: 999932;
    text-align: center;
    margin: 0 auto;
}

.slvj-lightbox {
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 999953;
}

#slvj-close-icon:before {
    font-family: "fontawesome";
    color: #fff;
    content: '\f057';
    font-size: 24px;
    opacity: 1;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: 99999;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#slvj-close-icon:before:hover {
    opacity: 1;
    cursor: pointer;
}

/* --------- Clients ---------- */

#clients a {
    display: block;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

#clients img {
    display: inline-block;
    padding: 15px 25px;
}

.client-overlay {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#clients a:hover .client-overlay {
    opacity: 1;
}

.client-overlay span {
    position: absolute;
    top: 48%;
    left: 0;
    width: 100%;
    text-align: center;
    display: inline-block;
}



/*------------------------------------------------------------------------------------------*/
/* Footer */
/*------------------------------------------------------------------------------------------*/

#landing-footer {
    clear: both;
}

#landing-footer .row {
    padding: 0;
}

#landing-footer p {
    margin: 0;
}

#landing-footer ul {
    list-style: none;
    text-align: right;
}

#landing-footer li {
    display: inline-block;
}

/* Scroll Up */

#scrollUp {
    bottom: 0;
    right: 0;
    width: 70px;
    height: 80px;
    margin-bottom: -27px;
    padding: 0 5px 20px 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    -webkit-transition: margin-bottom 150ms linear;
    -moz-transition: margin-bottom 150ms linear;
    -o-transition: margin-bottom 150ms linear;
    transition: margin-bottom 150ms linear;
}

#scrollUp:hover {
    margin-bottom: -22px;
}

#scrollUp:before {
    background: @grey;
    font-family: "fontawesome";
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #fff;
    width: 36px;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    content: "\f106";
    opacity: 1;
}

/*Preloader*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff; /* change if the mask should have another color then white */
    z-index: 99999; /* makes sure it stays on top */
    
    //display: none; // remove preloader for production
}

#status {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 50%; /* centers the loading animation horizontally one the screen */
    top: 50%; /* centers the loading animation vertically one the screen */
    background-position: center;
    margin: -18px 0 0 -18px; /* is width and height divided by two */
    text-align: center;
}

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-triangle-path,
.la-ball-triangle-path > div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.la-ball-triangle-path {
    display: block;
    font-size: 0;
    color: #fff;
}

.la-ball-triangle-path.la-dark {
    color: #333;
}

.la-ball-triangle-path > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}

.la-ball-triangle-path {
    width: 32px;
    height: 32px;
}

.la-ball-triangle-path > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.la-ball-triangle-path > div:nth-child(1) {
    -webkit-animation: ball-triangle-path-ball-one 2s 0s ease-in-out infinite;
    -moz-animation: ball-triangle-path-ball-one 2s 0s ease-in-out infinite;
    -o-animation: ball-triangle-path-ball-one 2s 0s ease-in-out infinite;
    animation: ball-triangle-path-ball-one 2s 0s ease-in-out infinite;
}

.la-ball-triangle-path > div:nth-child(2) {
    -webkit-animation: ball-triangle-path-ball-two 2s 0s ease-in-out infinite;
    -moz-animation: ball-triangle-path-ball-two 2s 0s ease-in-out infinite;
    -o-animation: ball-triangle-path-ball-two 2s 0s ease-in-out infinite;
    animation: ball-triangle-path-ball-two 2s 0s ease-in-out infinite;
}

.la-ball-triangle-path > div:nth-child(3) {
    -webkit-animation: ball-triangle-path-ball-tree 2s 0s ease-in-out infinite;
    -moz-animation: ball-triangle-path-ball-tree 2s 0s ease-in-out infinite;
    -o-animation: ball-triangle-path-ball-tree 2s 0s ease-in-out infinite;
    animation: ball-triangle-path-ball-tree 2s 0s ease-in-out infinite;
}

.la-ball-triangle-path.la-sm {
    width: 16px;
    height: 16px;
}

.la-ball-triangle-path.la-sm > div {
    width: 4px;
    height: 4px;
}

.la-ball-triangle-path.la-2x {
    width: 64px;
    height: 64px;
}

.la-ball-triangle-path.la-2x > div {
    width: 20px;
    height: 20px;
}

.la-ball-triangle-path.la-3x {
    width: 96px;
    height: 96px;
}

.la-ball-triangle-path.la-3x > div {
    width: 30px;
    height: 30px;
}

/*
 * Animations
 */
@-webkit-keyframes ball-triangle-path-ball-one {
    0% {
        -webkit-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -webkit-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -webkit-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
}

@-moz-keyframes ball-triangle-path-ball-one {
    0% {
        -moz-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -moz-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -moz-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -moz-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
}

@-o-keyframes ball-triangle-path-ball-one {
    0% {
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
}

@keyframes ball-triangle-path-ball-one {
    0% {
        -webkit-transform: translate(0, 220%);
        -moz-transform: translate(0, 220%);
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -webkit-transform: translate(110%, 0);
        -moz-transform: translate(110%, 0);
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -webkit-transform: translate(220%, 220%);
        -moz-transform: translate(220%, 220%);
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 220%);
        -moz-transform: translate(0, 220%);
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
}

@-webkit-keyframes ball-triangle-path-ball-two {
    0% {
        -webkit-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -webkit-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -webkit-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
}

@-moz-keyframes ball-triangle-path-ball-two {
    0% {
        -moz-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -moz-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -moz-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -moz-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
}

@-o-keyframes ball-triangle-path-ball-two {
    0% {
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
}

@keyframes ball-triangle-path-ball-two {
    0% {
        -webkit-transform: translate(110%, 0);
        -moz-transform: translate(110%, 0);
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -webkit-transform: translate(220%, 220%);
        -moz-transform: translate(220%, 220%);
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -webkit-transform: translate(0, 220%);
        -moz-transform: translate(0, 220%);
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(110%, 0);
        -moz-transform: translate(110%, 0);
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
}

@-webkit-keyframes ball-triangle-path-ball-tree {
    0% {
        -webkit-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -webkit-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -webkit-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
}

@-moz-keyframes ball-triangle-path-ball-tree {
    0% {
        -moz-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -moz-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -moz-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -moz-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
}

@-o-keyframes ball-triangle-path-ball-tree {
    0% {
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
}

@keyframes ball-triangle-path-ball-tree {
    0% {
        -webkit-transform: translate(220%, 220%);
        -moz-transform: translate(220%, 220%);
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -webkit-transform: translate(0, 220%);
        -moz-transform: translate(0, 220%);
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -webkit-transform: translate(110%, 0);
        -moz-transform: translate(110%, 0);
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(220%, 220%);
        -moz-transform: translate(220%, 220%);
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
}

/*------------------------------------------------------------------------------------------*/
/* Responsive Elements */
/*------------------------------------------------------------------------------------------*/

/* =Media Queries for Nav
===============================*/
@media all and (max-width: 1024px) {
    #nav-trigger {
        display: block;
    }

    nav#nav-main {
        display: none;
    }

    nav#nav-mobile {
        display: block;
    }

    nav#nav-mobile li {
        display: block;
    }

    #header aside {
        //display: none;
    }
}

@media all and (max-width: 600px) {
    #header ul.social-icons li:not(:last-child) {
        display: none;
    }
}

/* Landscape mobile & down
===============================*/
@media (max-width: 480px) {

    #wrapper {
        margin:0;
        padding:0;
    }

    .page-border, #scrollUp, #scrollUp:before {
        display:none;
    }

    .row {
        padding: 15px !important;
    }
    
    .row-flex {
        flex-direction: column;
    }

    .s-col-1, .s-col-2, .s-col-3, .s-col-4, .s-col-5, .s-col-6, .s-col-7, .s-col-8, .s-col-9, .s-col-10, .s-col-11, .s-col-12, .s-col-2-3, .s-col-3-4, .s-col-9-10, .s-col-61, .s-col-38, .row {
        width: 100%;
    }

    .s-col-1, .s-col-2, .s-col-3, .s-col-4, .s-col-5, .s-col-6, .s-col-7, .s-col-8, .s-col-9, .s-col-10, .s-col-11, .s-col-12, .s-col-2-3, .s-col-3-4, .s-col-9-10, .s-col-61, .s-col-38 {
        padding-right: 10px;
        padding-left: 10px;
    }

    /*-----------------Header Elements-----------------*/
    #header .row {
        padding: 0 15px !important;
    }

    #header.nav-solid [class*="col-"] {
        padding: 0;
    }

    /*Logo*/
    #logo h2 {
        padding: 0;
    }

    /* Social */
    #header aside {
        clear: both;
        padding: 0;
    }

    #header ul.social-icons {
        margin-top: 0;
    }

    #banner-content.row {
        padding-top: 85px !important;
    }

    /*-----------------Sections-----------------*/

    /* Call to Action*/
    .call-to-action {
        padding-bottom: 25px;
    }

    /* Video */
    .slvj-lightbox iframe, .slvj-lightbox object, .slvj-lightbox embed {
        height: 270px !important;
    }

    /* Footer */
    #landing-footer #copyright {
        float: left;
        width: 50%;
    }

    #landing-footer .social-icons {
        float: right;
        width: 50%;
    }

    /*-----------------Typography-----------------*/
    h1 {
        font-size: 38px;
    }

    /* Hide Elements */
    a#scrollUp {
        display: none !important;
    }

}

/* Mobile to Tablet Portrait
===============================*/
@media (min-width: 480px) and (max-width: 767px) {

    #wrapper {
        margin:0;
        padding:0;
    }

    .page-border, #scrollUp, #scrollUp:before {
        display:none;
    }


    .row {
        padding: 15px 0 !important;
    }
    
    .row-flex {
        flex-direction: column;
        align-items: normal;
    }

    .s-col-1, .s-col-2, .s-col-5, .s-col-7, .s-col-9, .s-col-11, .s-col-2-3, .s-col-3-4, .s-col-61, .s-col-38, .row {
        width: 100%;
    }

    .s-col-3, .s-col-4, .s-col-6, .s-col-8, .s-col-10, .s-col-12 {
        width: 50%;
    }

    /*-----------------Header Elements-----------------*/
    #header .row {
        padding: 0 !important;
    }

    #header aside {
        display: inline-block;
        position: absolute;
        top: 40px;
        right: 60px;
        padding-top:3px;
        padding-right: 5px;
    }

    #header.nav-solid aside {
        top: 20px;
    }

    #header aside ul.social-icons {
        margin-top: 0 !important;
        padding-top: 0;
    }
    
    #header ul.social-icons li {
        display: inline-block;
    }

    #banner-content.row {
        padding-top: 85px !important;
    }

    /*Navigation*/
    nav#nav-mobile ul {
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    /*-----------------Sections-----------------*/

    /* Video */
    .slvj-lightbox iframe, .slvj-lightbox object, .slvj-lightbox embed {
        height: 370px !important;
    }

    /* Footer */
    #landing-footer #copyright {
        float: left;
        width: 50%;
    }

    #landing-footer .social-icons {
        float: right;
        width: 50%;
    }

}

/* Landscape Tablet to Desktop
===============================*/
@media (min-width: 768px) and (max-width: 1024px) {

    #wrapper {
        margin:0;
        padding:0;
    }

    .page-border {
        display:none;
    }

    .big-padding-top {
        padding-top: 45px !important;
    }

    /*-----------------Header Elements-----------------*/
    #header aside {
        display: inline-block;
        position: absolute;
        top: 40px;
        right: 60px;
        padding-top:3px;
        padding-right: 5px;
    }

    #header.nav-solid aside {
        top: 20px;
    }

    #header aside ul {
        margin-top: 0 !important;
        padding-top: 0;
    }

    /*Navigation*/
    nav#nav-mobile ul {
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    /*-----------------Sections-----------------*/

    /* Video */
    .slvj-lightbox iframe, .slvj-lightbox object, .slvj-lightbox embed {
        height: 432px !important;
    }

}


// Plugins
// ---------------------------------------------------------------------------
@import "colors.less";
@import "animate.less";
@import "fontawesome.less";
@import "plugins.less";
@import "woocommerce.less";
